:host {
  display: block;

  .guc_card {
    width: calc(var(--card-size) * 1.586);
    height: var(--card-size);
    border-radius: 0.75rem;
    background: var(--bg-color);
    display: grid;
    grid-template-columns: 40% auto;
    color: var(--fg-color);
    align-items: center;
  }

  .guc_card-details {
    padding: 1rem;
  }

  .guc_name {
    font-size: 1.25rem;
  }

  .guc_detail {
    font-size: 0.8rem;
  }

  .guc_card-avatar {
    display: grid;
    place-items: center;

    img {
      width: 65%;
      max-height: 200px;
      border-radius: 0.75rem;
    }
  }

  .guc_card-about {
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: column;
  }

  .guc_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .guc_item .guc_value {
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent-color);
  }
  .guc_item .guc_label {
    margin-top: 0.15rem;
    font-size: 1rem;
  }

  .guc_skills {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
  }
  .guc_skills .guc_label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent-color);
  }
  .guc_skills .guc_value {
    margin-top: 0.15rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
